
/* T_Shitrs sprite made by grunt-spritesmith */

div.menuitem label:before {
	float: left;
	width: 12pt;
	height: 14pt;
	margin-top: 1px;
	margin-right:10px;
	margin-bottom:1px;
	content: ' ';
}

div.menuitem.alemania label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -16px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.argelia label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -128px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.argentina label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -32px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.brasil label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -48px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.bélgica label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -64px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.chile label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -80px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.colombia label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -96px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.costa_rica label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -112px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.estados_unidos label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: 0px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.francia label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -144px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.grecia label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -160px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.holanda label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -176px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.méxico label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -192px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.nigeria label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -208px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.suiza label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -224px 0px;
	width: 15px;
	height: 17px;
}

div.menuitem.uruguay label:before {
	background: url(../image/t-shirts_sprite.png);
	background-position: -240px 0px;
	width: 15px;
	height: 17px;
}

